
#app {
    display: flex;
    width: 100vw;              /* 100% of viewport width */
    height: 100vh;             /* 100% of viewport height */
    align-items: center;       /* conter y-axis */
    justify-content: center;   /* center x-axis */
    background-color: blueviolet;
}


.calc-key {
    background-color: indigo; 
    color: white;
    font-size: 2em;
    font-weight: bold;
    border: 2px solid white;
    width: 100px;
    height: 100px;
}

#zero {
    width: 200px;
}

#clear {
    width:300px;
}

#divide, #multiply, #add, #subtract, #equals {
    background-color: orange;
}

#clear {
    background-color: red;
}

#display {
    background-color: lightgrey;
    font-size: 3em;
    font-weight: bold;
    padding-top: 0.5em;
    border: 2px solid white;
    /*height: 100px; */
    width:400px;
    border-top:none;
}

#displayTop {
    background-color: lightgrey;
    color: blue;
    font-size: 1em;
    font-weight: bold;
    /*padding-top: 0.5em; */
    border: 2px solid white;
    height: 2em;
    width:400px;
    border-bottom: none;
    overflow-x: auto;
}

#calculator {
    background-color: rgb(70,70,70);
    border: 25px solid rgb(70,70,70);
    /*border-radius: 25px;*/
}

/*
.calc-key:active {
    background-color: yellow
} 
*/